<h1 class="font-semibold text-xl">Contacts</h1>
<hr class="w-20 my-2 border-blue-200">
<ul>
  <% @contacts.each do |contact| %>
    <li class="py-2 hover:text-blue-400">
      <a href="/contacts/<%= contact.id %>"><h3><%= contact.name %></h3></a>
    </li>
  <% end %>
</ul>
