<h1>Add new contact</h1>

<form action="" method="post">
<label for=""> Name
  <input type="text">
</label>
<label for="">Email Address
  <input type="email" name="" id="">
</label>
<label for="">Phone Number
  <input type="tel" name="" id="">
</label>
</form>